# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset.

In [2]:
# Run this code:

admissions = pd.read_csv('../Admission_Predict.csv')
#to remove trailing spaces at the end of the column names
admissions.columns = admissions.columns.str.rstrip()

Let's evaluate the dataset by looking at the `head` function.

In [3]:
# Your code here:
admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [4]:
# Your code here:
admissions.isna().sum()

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [5]:
# Your code here:
admissions.set_index("Serial No.", inplace = True, drop = False)
admissions

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,,
1,1,337,118,4,4.5,4.5,9.65,1,0.92
2,2,316,104,3,3.0,3.5,8.00,1,0.72
3,3,322,110,3,3.5,2.5,8.67,1,0.80
4,4,314,103,2,2.0,3.0,8.21,0,0.65
5,5,330,115,5,4.5,3.0,9.34,1,0.90
6,6,321,109,3,3.0,4.0,8.20,1,0.75
7,7,308,101,2,3.0,4.0,7.90,0,0.68
8,8,302,102,1,2.0,1.5,8.00,0,0.50
9,9,323,108,3,3.5,3.0,8.60,0,0.45
10,10,327,111,4,4.0,4.5,9.00,1,0.84
11,11,328,112,4,4.0,4.5,9.10,1,0.78
12,12,307,109,3,4.0,3.0,8.00,1,0.62
13,13,311,104,3,3.5,2.0,8.20,1,0.61
14,14,314,105,3,3.5,2.5,8.30,0,0.54
15,15,317,107,3,4.0,3.0,8.70,0,0.66
16,16,319,106,3,4.0,3.0,8.00,1,0.65
17,17,318,110,3,4.0,3.0,8.80,0,0.63
18,18,303,102,3,3.5,3.0,8.50,0,0.62
19,19,325,114,4,3.0,2.0,8.40,0,0.70
20,20,328,116,5,5.0,5.0,9.50,1,0.94
21,21,334,119,5,5.0,4.5,9.70,1,0.95
22,22,336,119,5,4.0,3.5,9.80,1,0.97
23,23,322,109,5,4.5,3.5,8.80,0,0.76
24,24,298,98,2,1.5,2.5,7.50,1,0.44
25,25,295,93,1,2.0,2.0,7.20,0,0.46
26,26,310,99,2,1.5,2.0,7.30,0,0.54
27,27,300,97,2,3.0,3.0,8.10,1,0.65
28,28,327,103,3,4.0,4.0,8.30,1,0.74
29,29,338,118,4,3.0,4.5,9.40,1,0.91
30,30,340,114,5,4.0,4.0,9.60,1,0.90
...,...,...,...,...,...,...,...,...,...
356,356,310,103,2,2.5,2.5,8.24,0,0.72
357,357,324,110,3,3.5,3.0,9.22,1,0.89
358,358,336,119,4,4.5,4.0,9.62,1,0.95
359,359,321,109,3,3.0,3.0,8.54,1,0.79
360,360,315,105,2,2.0,2.5,7.65,0,0.39
361,361,304,101,2,2.0,2.5,7.66,0,0.38
362,362,297,96,2,2.5,2.0,7.43,0,0.34
363,363,290,100,1,1.5,2.0,7.56,0,0.47
364,364,303,98,1,2.0,2.5,7.65,0,0.56
365,365,311,99,1,2.5,3.0,8.43,1,0.71
366,366,322,104,3,3.5,4.0,8.84,1,0.78
367,367,319,105,3,3.0,3.5,8.67,1,0.73
368,368,324,110,4,4.5,4.0,9.15,1,0.82
369,369,300,100,3,3.0,3.5,8.26,0,0.62
370,370,340,113,4,5.0,5.0,9.74,1,0.96
371,371,335,117,5,5.0,5.0,9.82,1,0.96
372,372,302,101,2,2.5,3.5,7.96,0,0.46
373,373,307,105,2,2.0,3.5,8.10,0,0.53
374,374,296,97,2,1.5,2.0,7.80,0,0.49
375,375,320,108,3,3.5,4.0,8.44,1,0.76
376,376,314,102,2,2.0,2.5,8.24,0,0.64
377,377,318,106,3,2.0,3.0,8.65,0,0.71
378,378,326,112,4,4.0,3.5,9.12,1,0.84
379,379,317,104,2,3.0,3.0,8.76,0,0.77
380,380,329,111,4,4.5,4.0,9.23,1,0.89
381,381,324,110,3,3.5,3.5,9.04,1,0.82
382,382,325,107,3,3.0,3.5,9.11,1,0.84
383,383,330,116,4,5.0,4.5,9.45,1,0.91
384,384,312,103,3,3.5,4.0,8.78,0,0.67
385,385,333,117,4,5.0,4.0,9.66,1,0.95

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [6]:
# Your code here:
admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,,
1,1,337,118,4,4.5,4.5,9.65,1,0.92
2,2,316,104,3,3.0,3.5,8.00,1,0.72
3,3,322,110,3,3.5,2.5,8.67,1,0.80
4,4,314,103,2,2.0,3.0,8.21,0,0.65
5,5,330,115,5,4.5,3.0,9.34,1,0.90

In [7]:
admissions.set_index(["GRE Score", "CGPA"], inplace = True)
admissions.index

MultiIndex(levels=[[290, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340], [6.8, 7.2, 7.25, 7.28, 7.3, 7.34, 7.36, 7.4, 7.43, 7.46, 7.5, 7.54, 7.56, 7.6, 7.64, 7.65, 7.66, 7.67, 7.68, 7.7, 7.8, 7.84, 7.86, 7.87, 7.88, 7.89, 7.9, 7.92, 7.95, 7.96, 7.97, 7.98, 8.0, 8.01, 8.02, 8.03, 8.04, 8.06, 8.07, 8.09, 8.1, 8.12, 8.13, 8.14, 8.15, 8.16, 8.17, 8.18, 8.2, 8.21, 8.22, 8.23, 8.24, 8.25, 8.26, 8.27, 8.28, 8.3, 8.32, 8.33, 8.34, 8.36, 8.37, 8.4, 8.42, 8.43, 8.44, 8.45, 8.46, 8.47, 8.48, 8.49, 8.5, 8.52, 8.53, 8.54, 8.55, 8.56, 8.57, 8.6, 8.62, 8.64, 8.65, 8.66, 8.67, 8.68, 8.69, 8.7, 8.71, 8.72, 8.73, 8.74, 8.75, 8.76, 8.77, 8.78, 8.79, 8.8, 8.83, 8.84, 8.85, 8.87, 8.88, 8.89, 8.9, 8.92, 8.94, 8.96, 8.97, 8.98, 9.0, 9.01, 9.02, 9.04, 9.05, 9.06, 9.07, 9.08, 9.1, 9.11, 9.12, 9.13, 9.14, 9.15, 9.16, 9.17, 9.18, 9.19, 9.2, 9.22, 9.23, 9.24, 9.26, 9.28, 9.3, 9.31, 9.32, 9.34, 9.35, 9.36, 9.38, 9.4, 9.42, 9.43, 9.44, 9.45, 9.46, 9.47, 9.48, 9.5, 9.53, 9.54, 9.56, 9.6, 9.62, 9.64, 9.65, 9.66, 9.68, 9.7, 9.74, 9.76, 9.78, 9.8, 9.82, 9.87, 9.91, 9.92]],
           codes=[[45, 24, 30, 22, 38, 29, 16, 10, 31, 35, 36, 15, 19, 22, 25, 27, 26, 11, 33, 36, 42, 44, 30, 6, 3, 18, 8, 35, 46, 48, 39, 28, 7, 8, 12, 15, 16, 24, 21, 40, 34, 30, 37, 47, 29, 35, 21, 20, 42, 32, 30, 28, 24, 6, 8, 19, 17, 15, 12, 23, 33, 33, 35, 24, 26, 36, 40, 44, 29, 22, 22, 37, 35, 9, 4, 2, 20, 48, 28, 30, 48, 27, 23, 25, 22, 26, 7, 6, 9, 11, 12, 14, 39, 40, 31, 30, 20, 22, 25, 34, 24, 37, 46, 39, 12, 13, 29, 9, 28, 19, 18, 7, 0, 4, 35, 43, 42, 18, 16, 9, 8, 31, 27, 34, 41, 47, 11, 31, 41, 22, 24, 34, 26, 37, 40, 39, 48, 33, 28, 23, 34, 47, 19, 42, 40, 29, 32, 34, 20, 23, 17, 14, 5, 23, 6, 26, 25, 37, 30, 10, 21, 1, 19, 20, 42, 30, 31, 29, 28, 37, 27, 17, 15, 8, 13, 7, 22, 35, 25, 43, 39, 32, 31, 30, 44, 24, 15, 14, 18, 21, 25, 23, 48, 42, 6, 3, 23, 18, 13, 9, 33, 36, 46, 41, 39, 38, 30, 29, 32, 20, 21, 24, 16, 13, 4, 14, 26, 32, 21, 27, 20, 12, 38, 34, 33, 37, 18, 7, 4, 25, 32, 33, 22, 36, 24, 19, 32, 29, 28, 24, 26, 43, 29, 15, 17, 32, 39, 35, 20, 16, 32, 33, 21, 20, 22, 35, 16, 14, 7, 2, 20, 23, 30, 37, 28, 16, 12, 19, 25, 20, 29, 48, 39, 44, 32, 22, 21, 15, 8, 10, 20, 24, 25, 18, 28, 38, 13, 17, 27, 30, 31, 21, 29, 31, 33, 20, 16, 28, 36, 19, 9, 16, 6, 8, 32, 35, 25, 31, 22, 13, 23, 34, 7, 3, 32, 5, 35, 19, 16, 27, 20, 27, 40, 31, 32, 20, 34, 16, 13, 3, 24, 12, 7, 10, 21, 26, 33, 11, 8, 5, 25, 35, 9, 22, 29, 30, 42, 46, 14, 21, 38, 28, 19, 6, 9, 18, 32, 44, 29, 23, 12, 5, 0, 11, 19, 30, 27, 32, 8, 48, 43, 10, 15, 4, 28, 22, 26, 34, 25, 37, 32, 33, 38, 20, 41], [156, 32, 84, 49, 137, 48, 26, 32, 79, 110, 118, 32, 48, 57, 87, 32, 97, 72, 63, 149, 159, 163, 97, 10, 1, 4, 40, 57, 141, 153, 163, 128, 63, 20, 10, 19, 32, 48, 72, 118, 141, 118, 134, 159, 100, 63, 57, 26, 32, 40, 32, 19, 7, 13, 0, 57, 40, 48, 48, 72, 87, 105, 112, 81, 129, 124, 155, 161, 145, 113, 104, 77, 89, 50, 11, 6, 34, 149, 129, 139, 145, 83, 64, 56, 43, 27, 16, 35, 24, 16, 21, 32, 107, 131, 102, 68, 41, 53, 69, 114, 95, 126, 146, 140, 81, 70, 85, 60, 77, 67, 113, 80, 9, 3, 99, 152, 148, 61, 50, 69, 83, 136, 88, 118, 138, 161, 82, 95, 133, 94, 45, 117, 120, 123, 139, 144, 167, 107, 81, 70, 119, 163, 54, 143, 133, 115, 92, 103, 86, 60, 54, 43, 26, 22, 9, 72, 77, 111, 108, 59, 55, 20, 31, 36, 116, 121, 130, 108, 101, 124, 113, 41, 55, 45, 64, 24, 97, 119, 85, 144, 139, 124, 109, 106, 150, 93, 73, 54, 59, 86, 75, 68, 166, 165, 75, 15, 25, 34, 45, 41, 115, 122, 157, 162, 142, 139, 132, 121, 108, 64, 92, 77, 67, 51, 35, 67, 84, 111, 82, 59, 55, 38, 135, 130, 125, 127, 62, 25, 18, 44, 93, 113, 77, 112, 90, 70, 101, 98, 78, 110, 75, 158, 120, 62, 77, 81, 137, 121, 39, 61, 96, 93, 85, 67, 46, 122, 60, 50, 22, 14, 33, 28, 107, 145, 80, 71, 90, 81, 119, 96, 104, 157, 132, 127, 117, 112, 110, 15, 23, 30, 47, 58, 78, 84, 119, 131, 82, 32, 93, 67, 76, 65, 97, 118, 110, 74, 79, 91, 126, 110, 36, 38, 22, 33, 97, 86, 72, 66, 55, 47, 59, 122, 34, 22, 94, 25, 83, 41, 49, 75, 82, 96, 147, 91, 83, 68, 93, 52, 42, 5, 8, 14, 5, 2, 36, 55, 84, 37, 46, 17, 41, 94, 25, 14, 66, 81, 151, 130, 61, 104, 125, 60, 9, 24, 35, 52, 129, 154, 75, 15, 16, 8, 12, 15, 65, 99, 84, 123, 54, 160, 164, 29, 40, 20, 66, 52, 82, 120, 93, 130, 113, 119, 145, 95, 157]],
           names=['GRE Score', 'CGPA'])

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [8]:
# Your code here:
admissions.reset_index(inplace = True)
admissions.index

RangeIndex(start=0, stop=385, step=1)

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [9]:
# Your code here:

len(admissions.eval("CGPA > 9"))

385

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [10]:
# Your code here:

admissions_condition = admissions.query("CGPA > 9 & SOP < 3.5")
admissions_condition["Chance of Admit"].mean()

0.8019999999999999

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [11]:
def standardize(col):
    # This function takes a column from a dataframe and returns a standardized column by subtracting the column's mean
    # and dividing by the column's standard deviation.
    
    # Your code here:
    mean_cols = np.mean(col)
    std_dev = np.std(col)
    val = (col - mean_cols)/(std_dev)
    
    return val

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [21]:
# Your code here:

admissions["CGPA_std"] = standardize(admissions["CGPA"])
admissions["GRE_std"] = standardize(admissions["GRE Score"])
admissions["LOR_std"] = standardize(admissions["LOR"])

We will generate the decision choice at random using the code below. Please run the cell.

In [22]:
# Run this code:

from random import choices
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=admissions.shape[0])

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [24]:
# Your code here:
admissions['deciding_column'] = admissions.lookup(admissions.index,decision_choice)
admissions.head()

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std,deciding_column
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1.750174,1.755663,1.193197,1.750174
1,316,8.00,2,104,3,3.0,3.5,1,0.72,-0.992501,-0.063450,0.076840,-0.992501
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0.121191,0.456297,-1.039517,-1.039517
3,314,8.21,4,103,2,2.0,3.0,0,0.65,-0.643433,-0.236698,-0.481338,-0.236698
4,330,9.34,5,115,5,4.5,3.0,1,0.90,1.234884,1.149292,-0.481338,1.149292

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [25]:
# Your code here:

admissions['decision'] = (admissions['deciding_column'] > 0.8) * 1
admissions.head()

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std,deciding_column,decision
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1.750174,1.755663,1.193197,1.750174,1
1,316,8.00,2,104,3,3.0,3.5,1,0.72,-0.992501,-0.063450,0.076840,-0.992501,0
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0.121191,0.456297,-1.039517,-1.039517,0
3,314,8.21,4,103,2,2.0,3.0,0,0.65,-0.643433,-0.236698,-0.481338,-0.236698,0
4,330,9.34,5,115,5,4.5,3.0,1,0.90,1.234884,1.149292,-0.481338,1.149292,1

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [26]:
# Your code here:
admissions.decision.sum()

85

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [27]:
# Your code here:

admissions.columns = admissions.columns.map(lambda x: x.replace('.','').replace(' ','_').lower())
admissions.head()

,gre_score,cgpa,serial_no,toefl_score,university_rating,sop,lor,research,chance_of_admit,cgpa_std,gre_std,lor_std,deciding_column,decision
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1.750174,1.755663,1.193197,1.750174,1
1,316,8.00,2,104,3,3.0,3.5,1,0.72,-0.992501,-0.063450,0.076840,-0.992501,0
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0.121191,0.456297,-1.039517,-1.039517,0
3,314,8.21,4,103,2,2.0,3.0,0,0.65,-0.643433,-0.236698,-0.481338,-0.236698,0
4,330,9.34,5,115,5,4.5,3.0,1,0.90,1.234884,1.149292,-0.481338,1.149292,1

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [29]:
# Your code here:

admissions['adjusted_gre'] = admissions.gre_score + (1*(admissions.university_rating >= 4) & (admissions.gre_score > 10))*10
admissions.head()

,gre_score,cgpa,serial_no,toefl_score,university_rating,sop,lor,research,chance_of_admit,cgpa_std,gre_std,lor_std,deciding_column,decision,adjusted_gre
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1.750174,1.755663,1.193197,1.750174,1,347
1,316,8.00,2,104,3,3.0,3.5,1,0.72,-0.992501,-0.063450,0.076840,-0.992501,0,316
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0.121191,0.456297,-1.039517,-1.039517,0,322
3,314,8.21,4,103,2,2.0,3.0,0,0.65,-0.643433,-0.236698,-0.481338,-0.236698,0,314
4,330,9.34,5,115,5,4.5,3.0,1,0.90,1.234884,1.149292,-0.481338,1.149292,1,340